.container {
	width: 400px;
	margin: 40px 10px 20px 60px;
}

@media (max-width: 960px) {
     .container {
       width: 700px;
     }
}
@media (max-width: 720px) {
     .container {
      width: 500px;
     }
}
@media (max-width: 540px) {
     .container {
      width: 300px;
     }
}